#calculator {
	font-size: var(--theme-text-md);

	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type='number'] {
		-moz-appearance: textfield;
	}

	input {
		width: 100%;
		height: 42px;
		line-height: 1.65;
		float: left;
		display: block;
		padding: 0;
		margin: 0;
		padding-left: 20px;
		border: 1px solid var(--theme-text-lighter);
		border-radius: 4px;
	}

	input:focus {
		outline: 0;
	}

	.input-number-nav {
		float: left;
		position: relative;
		height: 42px;
	}

	.input-number-button {
		position: relative;
		cursor: pointer;
		border: none;
		border-left: 1px solid var(--theme-text-lighter);
		width: 20px;
		text-align: center;
		color: var(--theme-text-light);
		font-size: 13px;
		line-height: 1.7;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}

	.input-number-button.input-number-up {
		position: absolute;
		height: 50%;
		top: 0;
		border-bottom: 1px solid var(--theme-text-lighter);
	}

	.input-number-button.input-number-down {
		position: absolute;
		bottom: 0;
		height: 50%;
	}

	.stats {
		margin-top: 24px;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-row: auto auto;
		grid-column-gap: 4px;
		grid-row-gap: 16px;
	}
}
