/*
	Define common sizes and spacings
*/
:root {
	--theme-navbar-height: 5rem;
	--theme-mobile-toc-height: 4rem;
	--theme-left-sidebar-width: 22rem;
	--theme-right-sidebar-width: 18rem;
	/*
		Minimum visual horizontal spacing from the edges of the viewport,
		and between vertically arranged elements
	*/
	--min-spacing-inline: 1rem;
	/* Vertical spacing around the article content and the right sidebar */
	--doc-padding-block: 0.5rem;
	--max-width: 100%;
	--cur-viewport-height: 100vh;
	/* Font sizes */
	--theme-text-lg: 1.15rem;
	--theme-text-base: 1rem;
	--theme-text-md: 1rem;
	--theme-text-sm: 0.9375rem;
	--theme-text-xs: 0.875rem;
	/* Animation helpers */
	--theme-ease-bounce: cubic-bezier(0.4, 2.5, 0.6, 1);
}

@media (min-width: 50em) {
	:root {
		--min-spacing-inline: 1.5rem;
		--doc-padding-block: 1rem;
		--max-width: 46em;
		--theme-text-sm: 0.875rem;
		--theme-text-xs: 0.8125rem;
	}
}

@media (min-width: 72em) {
	:root {
		--doc-padding-block: 2rem;
	}
}

/* Use dynamic viewport height if the unit is supported by the browser */
@supports (height: 100dvh) {
	:root {
		--cur-viewport-height: 100dvh;
	}
}

/*
	Define common fonts and colors
*/
:root,
::backdrop {
	--font-fallback: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
		Apple Color Emoji, Segoe UI Emoji;
	--font-body: 'Source Sans Pro', sans-serif, var(--font-fallback);
	--font-mono: 'IBM Plex Mono', Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
		'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono',
		'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;

	/*
		Variables with --color-base prefix define
		the hue, and saturation values to be used for
		hsla colors.

		Example:
		--color-base-{color}: {hue}, {saturation};
	*/

	--color-base-white: 0, 0%;
	--color-base-black: 240, 100%;
	--color-base-gray: 250, 14%;
	--color-base-blue: 202, 65%;
	--color-base-blue-dark: 202, 72%;
	--color-base-teal: 180, 80%;
	--color-base-green: 158, 79%;
	--color-base-orange: 22, 100%;
	--color-base-red: 351, 100%;
	--color-base-yellow: 41, 100%;

	/*
		Color palettes are made using --color-base 
		variables, along with a lightness value to
		define different variants.
	*/

	--color-gray-5: var(--color-base-gray), 5%;
	--color-gray-10: var(--color-base-gray), 10%;
	--color-gray-20: var(--color-base-gray), 20%;
	--color-gray-30: var(--color-base-gray), 30%;
	--color-gray-40: var(--color-base-gray), 40%;
	--color-gray-50: var(--color-base-gray), 50%;
	--color-gray-60: var(--color-base-gray), 60%;
	--color-gray-70: var(--color-base-gray), 70%;
	--color-gray-80: var(--color-base-gray), 80%;
	--color-gray-90: var(--color-base-gray), 90%;
	--color-gray-95: var(--color-base-gray), 95%;

	--color-blue: var(--color-base-blue), 59%;
	--color-blue-dark: var(--color-base-blue-dark), 23%;
	--color-green: var(--color-base-green), 42%;
	--color-orange: var(--color-base-orange), 50%;
	--color-red: var(--color-base-red), 54%;
	--color-yellow: var(--color-base-yellow), 59%;

	--color-mergify-blue: #53a9db;
	--color-mergify-blue-light: #ddeef8;
	--color-mergify-blue-darker: #237caf;
	--color-mergify-blue-dark: #113c55;
}

:root,
::backdrop {
	color-scheme: light;
	--theme-accent: hsla(var(--color-orange), 1);
	--theme-accent-secondary: #b83280;
	--theme-dim: hsla(var(--color-gray-70), 1);
	--theme-dim-light: hsla(var(--color-gray-80), 1);
	--theme-dim-lighter: hsla(var(--color-gray-90), 1);
	--theme-accent-opacity: 0.1;
	--theme-divider: hsla(var(--color-blue), 0.1);
	--theme-shade-subtle: hsla(var(--color-blue), 0.3);
	--theme-text: hsla(var(--color-gray-10), 1);
	--theme-text-light: var(--chakra-colors-blackAlpha-800);
	--theme-text-lighter: var(--chakra-colors-blackAlpha-700);
	--theme-bg: white;
	--theme-bg-gradient-top: var(--theme-bg);
	--theme-bg-gradient-bottom: white;
	--theme-bg-hover: var(--color-mergify-blue-light);
	--theme-bg-offset: hsla(var(--color-blue), 0.1);
	--theme-bg-accent: hsla(var(--color-blue), var(--theme-accent-opacity));
	--theme-backdrop-overlay: hsla(var(--color-gray-50), 0.8);
	--theme-code-inline-bg: var(--chakra-colors-gray-50);
	--theme-code-inline-text: #b83280;
	--theme-code-bg: var(--color-mergify-blue-dark);
	--theme-code-tabs: hsla(257, 38%, 32%, 1);
	--theme-code-text: hsla(var(--color-gray-95), 1);
	--theme-navbar-bg: var(--theme-bg);
	--theme-selection-color: hsla(var(--color-blue), 1);
	--theme-selection-bg: hsla(var(--color-blue), var(--theme-accent-opacity));
	--theme-code-selection-bg: hsla(var(--color-blue), 0.4);
	--theme-code-mark-bg: hsl(226, 50%, 33%);
	--theme-code-mark-border: hsl(224, 50%, 54%);
	--theme-code-ins-bg: hsl(122, 22%, 23%);
	--theme-code-ins-border: hsl(128, 42%, 38%);
	--theme-code-ins-text: hsl(128, 31%, 65%);
	--theme-code-del-bg: hsl(338, 40%, 26%);
	--theme-code-del-border: hsl(338, 46%, 53%);
	--theme-code-del-text: hsl(338, 36%, 70%);

	--theme-bg-gradient: linear-gradient(
		180deg,
		var(--theme-bg-gradient-top),
		var(--theme-bg-gradient-top) calc(var(--theme-navbar-height) + var(--theme-mobile-toc-height)),
		var(--theme-bg-gradient-bottom)
	);

	--theme-glow-highlight: transparent;
	--theme-glow-diffuse: hsla(var(--color-base-blue), 65%, 0.5);
	--theme-glow-blur: 10px;

	--theme-border-color: #e2e8f0;

	/* 
		Chakra colors
	*/
	--chakra-colors-transparent: transparent;
	--chakra-colors-current: currentColor;
	--chakra-colors-primary: #1f77aa;
	--chakra-colors-black: #000000;
	--chakra-colors-white: #ffffff;
	--chakra-colors-whiteAlpha-50: rgba(255, 255, 255, 0.04);
	--chakra-colors-whiteAlpha-100: rgba(255, 255, 255, 0.06);
	--chakra-colors-whiteAlpha-200: rgba(255, 255, 255, 0.08);
	--chakra-colors-whiteAlpha-300: rgba(255, 255, 255, 0.16);
	--chakra-colors-whiteAlpha-400: rgba(255, 255, 255, 0.24);
	--chakra-colors-whiteAlpha-500: rgba(255, 255, 255, 0.36);
	--chakra-colors-whiteAlpha-600: rgba(255, 255, 255, 0.48);
	--chakra-colors-whiteAlpha-700: rgba(255, 255, 255, 0.64);
	--chakra-colors-whiteAlpha-800: rgba(255, 255, 255, 0.8);
	--chakra-colors-whiteAlpha-900: rgba(255, 255, 255, 0.92);
	--chakra-colors-blackAlpha-50: rgba(0, 0, 0, 0.04);
	--chakra-colors-blackAlpha-100: rgba(0, 0, 0, 0.06);
	--chakra-colors-blackAlpha-200: rgba(0, 0, 0, 0.08);
	--chakra-colors-blackAlpha-300: rgba(0, 0, 0, 0.16);
	--chakra-colors-blackAlpha-400: rgba(0, 0, 0, 0.24);
	--chakra-colors-blackAlpha-500: rgba(0, 0, 0, 0.36);
	--chakra-colors-blackAlpha-600: rgba(0, 0, 0, 0.48);
	--chakra-colors-blackAlpha-700: rgba(0, 0, 0, 0.64);
	--chakra-colors-blackAlpha-800: rgba(0, 0, 0, 0.8);
	--chakra-colors-blackAlpha-900: rgba(0, 0, 0, 0.92);
	--chakra-colors-gray-50: #f7fafc;
	--chakra-colors-gray-100: #edf2f7;
	--chakra-colors-gray-200: #e2e8f0;
	--chakra-colors-gray-300: #cbd5e0;
	--chakra-colors-gray-400: #a0aec0;
	--chakra-colors-gray-500: #718096;
	--chakra-colors-gray-600: #4a5568;
	--chakra-colors-gray-700: #2d3748;
	--chakra-colors-gray-800: #1a202c;
	--chakra-colors-gray-900: #171923;
	--chakra-colors-red-50: #fff5f5;
	--chakra-colors-red-100: #fed7d7;
	--chakra-colors-red-200: #feb2b2;
	--chakra-colors-red-300: #fc8181;
	--chakra-colors-red-400: #f56565;
	--chakra-colors-red-500: #e53e3e;
	--chakra-colors-red-600: #c53030;
	--chakra-colors-red-700: #9b2c2c;
	--chakra-colors-red-800: #822727;
	--chakra-colors-red-900: #63171b;
	--chakra-colors-orange-50: #fffaf0;
	--chakra-colors-orange-100: #feebc8;
	--chakra-colors-orange-200: #fbd38d;
	--chakra-colors-orange-300: #f6ad55;
	--chakra-colors-orange-400: #ed8936;
	--chakra-colors-orange-500: #dd6b20;
	--chakra-colors-orange-600: #c05621;
	--chakra-colors-orange-700: #9c4221;
	--chakra-colors-orange-800: #7b341e;
	--chakra-colors-orange-900: #652b19;
	--chakra-colors-yellow-50: #fffff0;
	--chakra-colors-yellow-100: #fefcbf;
	--chakra-colors-yellow-200: #faf089;
	--chakra-colors-yellow-300: #f6e05e;
	--chakra-colors-yellow-400: #ecc94b;
	--chakra-colors-yellow-500: #d69e2e;
	--chakra-colors-yellow-600: #b7791f;
	--chakra-colors-yellow-700: #975a16;
	--chakra-colors-yellow-800: #744210;
	--chakra-colors-yellow-900: #5f370e;
	--chakra-colors-green-50: #f0fff4;
	--chakra-colors-green-100: #c6f6d5;
	--chakra-colors-green-200: #9ae6b4;
	--chakra-colors-green-300: #68d391;
	--chakra-colors-green-400: #48bb78;
	--chakra-colors-green-500: #38a169;
	--chakra-colors-green-600: #2f855a;
	--chakra-colors-green-700: #276749;
	--chakra-colors-green-800: #22543d;
	--chakra-colors-green-900: #1c4532;
	--chakra-colors-teal-50: #e6fffa;
	--chakra-colors-teal-100: #b2f5ea;
	--chakra-colors-teal-200: #81e6d9;
	--chakra-colors-teal-300: #4fd1c5;
	--chakra-colors-teal-400: #38b2ac;
	--chakra-colors-teal-500: #319795;
	--chakra-colors-teal-600: #2c7a7b;
	--chakra-colors-teal-700: #285e61;
	--chakra-colors-teal-800: #234e52;
	--chakra-colors-teal-900: #1d4044;
	--chakra-colors-blue-50: #ddeef8;
	--chakra-colors-blue-100: #badff3;
	--chakra-colors-blue-200: #98ccec;
	--chakra-colors-blue-300: #75bce6;
	--chakra-colors-blue-400: #54ace0;
	--chakra-colors-blue-500: #1f79ac;
	--chakra-colors-blue-600: #196189;
	--chakra-colors-blue-700: #144767;
	--chakra-colors-blue-800: #0a2534;
	--chakra-colors-blue-900: #000000;
	--chakra-colors-cyan-50: #edfdfd;
	--chakra-colors-cyan-100: #c4f1f9;
	--chakra-colors-cyan-200: #9decf9;
	--chakra-colors-cyan-300: #76e4f7;
	--chakra-colors-cyan-400: #0bc5ea;
	--chakra-colors-cyan-500: #00b5d8;
	--chakra-colors-cyan-600: #00a3c4;
	--chakra-colors-cyan-700: #0987a0;
	--chakra-colors-cyan-800: #086f83;
	--chakra-colors-cyan-900: #065666;
	--chakra-colors-purple-50: #faf5ff;
	--chakra-colors-purple-100: #e9d8fd;
	--chakra-colors-purple-200: #d6bcfa;
	--chakra-colors-purple-300: #b794f4;
	--chakra-colors-purple-400: #9f7aea;
	--chakra-colors-purple-500: #805ad5;
	--chakra-colors-purple-600: #6b46c1;
	--chakra-colors-purple-700: #553c9a;
	--chakra-colors-purple-800: #44337a;
	--chakra-colors-purple-900: #322659;
	--chakra-colors-pink-50: #fff5f7;
	--chakra-colors-pink-100: #fed7e2;
	--chakra-colors-pink-200: #fbb6ce;
	--chakra-colors-pink-300: #f687b3;
	--chakra-colors-pink-400: #ed64a6;
	--chakra-colors-pink-500: #d53f8c;
	--chakra-colors-pink-600: #b83280;
	--chakra-colors-pink-700: #97266d;
	--chakra-colors-pink-800: #702459;
	--chakra-colors-pink-900: #521b41;
	--chakra-colors-linkedin-50: #e8f4f9;
	--chakra-colors-linkedin-100: #cfedfb;
	--chakra-colors-linkedin-200: #9bdaf3;
	--chakra-colors-linkedin-300: #68c7ec;
	--chakra-colors-linkedin-400: #34b3e4;
	--chakra-colors-linkedin-500: #00a0dc;
	--chakra-colors-linkedin-600: #008cc9;
	--chakra-colors-linkedin-700: #0077b5;
	--chakra-colors-linkedin-800: #005e93;
	--chakra-colors-linkedin-900: #004471;
	--chakra-colors-facebook-50: #e8f4f9;
	--chakra-colors-facebook-100: #d9dee9;
	--chakra-colors-facebook-200: #b7c2da;
	--chakra-colors-facebook-300: #6482c0;
	--chakra-colors-facebook-400: #4267b2;
	--chakra-colors-facebook-500: #385898;
	--chakra-colors-facebook-600: #314e89;
	--chakra-colors-facebook-700: #29487d;
	--chakra-colors-facebook-800: #223b67;
	--chakra-colors-facebook-900: #1e355b;
	--chakra-colors-messenger-50: #d0e6ff;
	--chakra-colors-messenger-100: #b9daff;
	--chakra-colors-messenger-200: #a2cdff;
	--chakra-colors-messenger-300: #7ab8ff;
	--chakra-colors-messenger-400: #2e90ff;
	--chakra-colors-messenger-500: #0078ff;
	--chakra-colors-messenger-600: #0063d1;
	--chakra-colors-messenger-700: #0052ac;
	--chakra-colors-messenger-800: #003c7e;
	--chakra-colors-messenger-900: #002c5c;
	--chakra-colors-whatsapp-50: #dffeec;
	--chakra-colors-whatsapp-100: #b9f5d0;
	--chakra-colors-whatsapp-200: #90edb3;
	--chakra-colors-whatsapp-300: #65e495;
	--chakra-colors-whatsapp-400: #3cdd78;
	--chakra-colors-whatsapp-500: #22c35e;
	--chakra-colors-whatsapp-600: #179848;
	--chakra-colors-whatsapp-700: #0c6c33;
	--chakra-colors-whatsapp-800: #01421c;
	--chakra-colors-whatsapp-900: #001803;
	--chakra-colors-twitter-50: #e5f4fd;
	--chakra-colors-twitter-100: #c8e9fb;
	--chakra-colors-twitter-200: #a8dcfa;
	--chakra-colors-twitter-300: #83cdf7;
	--chakra-colors-twitter-400: #57bbf5;
	--chakra-colors-twitter-500: #1da1f2;
	--chakra-colors-twitter-600: #1a94da;
	--chakra-colors-twitter-700: #1681bf;
	--chakra-colors-twitter-800: #136b9e;
	--chakra-colors-twitter-900: #0d4d71;
	--chakra-colors-telegram-50: #e3f2f9;
	--chakra-colors-telegram-100: #c5e4f3;
	--chakra-colors-telegram-200: #a2d4ec;
	--chakra-colors-telegram-300: #7ac1e4;
	--chakra-colors-telegram-400: #47a9da;
	--chakra-colors-telegram-500: #0088cc;
	--chakra-colors-telegram-600: #007ab8;
	--chakra-colors-telegram-700: #006ba1;
	--chakra-colors-telegram-800: #005885;
	--chakra-colors-telegram-900: #003f5e;

	--chakra-colors-chakra-border-color: var(--chakra-colors-gray-200);
}

:root.theme-dark,
.theme-dark ::backdrop {
	color-scheme: dark;
	--chakra-colors-primary: #2388c2;
	/* We lighten-up the orange in dark mode, to help with link contrast. */
	--color-orange: var(--color-base-orange), 60%;
	--theme-accent-opacity: 0.4;
	--theme-accent: hsla(var(--color-orange), 1);
	--theme-accent-secondary: #f687b3;
	--theme-text-accent: hsla(var(--color-orange), 1);
	--theme-dim: hsla(var(--color-gray-90), 0.3);
	--theme-dim-light: hsla(var(--color-gray-90), 0.2);
	--theme-dim-lighter: hsla(var(--color-gray-90), 0.1);
	--theme-divider: hsla(var(--color-gray-95), 0.1);
	--theme-shade-subtle: hsla(var(--color-gray-95), 0.4);
	--theme-text: hsla(var(--color-gray-90), 1);
	--theme-text-light: var(--chakra-colors-whiteAlpha-800);
	--theme-text-lighter: var(--chakra-colors-whiteAlpha-700);
	--theme-bg: #1a202c;
	--theme-bg-hover: var(--color-mergify-blue-dark);
	--theme-bg-offset: #0008;
	--theme-backdrop-overlay: hsla(var(--color-gray-10), 0.8);
	--theme-code-inline-bg: var(--chakra-colors-gray-700);
	--theme-code-inline-text: #f687b3;
	--theme-code-bg: var(--color-mergify-blue-dark);
	--theme-code-tabs: hsla(261, 40%, 21%, 1);
	--theme-code-text: hsla(var(--color-base-white), 80%, 1);
	--theme-navbar-bg: var(--theme-bg);
	--theme-selection-color: hsla(var(--color-base-white), 100%, 1);
	--theme-code-mark-bg: hsl(224, 60%, 25%);
	--theme-code-mark-border: hsl(225, 42%, 46%);
	--theme-code-ins-bg: hsl(122, 29%, 17%);
	--theme-code-ins-border: hsl(128, 41%, 32%);
	--theme-code-ins-text: hsl(128, 31%, 55%);
	--theme-code-del-bg: hsl(337, 47%, 19%);
	--theme-code-del-border: hsl(340, 34%, 43%);
	--theme-code-del-text: hsl(340, 24%, 65%);

	--theme-glow-highlight: hsla(var(--color-base-blue), 50%, 1);
	--theme-glow-diffuse: hsla(var(--color-base-blue), 35%, 0.4);

	--theme-border-color: rgb(255 255 255 / 16%);
}

::selection {
	color: var(--theme-selection-color);
	background-color: var(--theme-selection-bg);
}
