---
import '../styles/api.css';
---

<body>
	<script is:inline id="api-reference" data-url="/api-schemas.json"></script>
	<script is:inline src="/scalar-api-reference.js" charset="utf-8"></script>
</body>
